.hero{
    height: 100vh;
    background: -o-linear-gradient(180deg, #fde1ff, #e1ffea11 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;

}